<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="flex justify-between flex-col h-[100vh] bg-gray-100">
  <header class="fixed">
    <ng-container *ngIf="router.url !== '/login' && router.url !== '/register'">
      <app-header></app-header>
    </ng-container>
  </header>

  <main  [class.my-16]="router.url !== '/login' && router.url !== '/register'">
    <router-outlet></router-outlet>
  </main>
  <footer>
    <ng-container *ngIf="router.url !== '/login' && router.url !== '/register'">
      <app-footer></app-footer>
    </ng-container>
  </footer>
</body>
</html>
